
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.p-0{
  padding: 0 !important;
}

.m-0{
  margin: 0 !important;
}

.fw-700{
  font-weight: 700 !important;
}
.fw-600{
  font-weight: 600 !important;
}

.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}

.w-100vw{
    width: 100vw;
}

.cursor-pointer{
    cursor: pointer;
}

.scroll-content {
  overflow-y: auto;
}

.player-wrapper {
  position: relative;
  padding-top: 30vw; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.align-circle{
  position: absolute;
  height: 140px;
}

.half-circle{
  top: 0;
  left: 0;
  height: 80px;
  mix-blend-mode: multiply;
  z-index: 10
}

#layout input{
  padding: 15px;
}

.app-container {
  text-align: center;
  padding: 20px;
}

.canvas-container {
  margin-top: 20px;
  border: 1px solid #ccc;
}

.app-container {
  display: flex;
  height: 100vh;
}

.canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.sidebar {
  width: 300px;
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  margin-bottom: 20px;
}

.toolbar button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.toolbar button:hover {
  background-color: #e0e0e0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.app-title {
  margin-top: 20px;
}


@media (max-width: 820px) {
    html {
      font-size: 14px;
    }
  }
  
  
  
  @media (max-width: 1024px) {
    html {
      font-size: 16px;
    }
  }
  
  @media (max-width: 576px) {
    html {
      font-size: 12px;
    }
    
  }

