

*{
    margin: 0;
    font-family: 'Poppins';
}

.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.p-0{
  padding: 0 !important;
}

.m-0{
  margin: 0 !important;
}

.fw-700{
  font-weight: 700 !important;
}
.fw-600{
  font-weight: 600 !important;
}

.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}

.w-100vw{
    width: 100vw;
}

.cursor-pointer{
    cursor: pointer;
}

.scroll-content {
  overflow-y: auto;
}

.player-wrapper {
  position: relative;
  padding-top: 30vw; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.align-circle{
  position: absolute;
  height: 140px;
}

.half-circle{
  top: 0;
  left: 0;
  height: 80px;
  mix-blend-mode: multiply;
  z-index: 10
}

#layout input{
  padding: 15px;
}


@media (max-width: 820px) {
    html {
      font-size: 14px;
    }
  }
  
  
  
  @media (max-width: 1024px) {
    html {
      font-size: 16px;
    }
  }
  
  @media (max-width: 576px) {
    html {
      font-size: 12px;
    }
    
  }

